HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


# Arquivos de configuração locais com segredos
# Ignora o arquivo principal de propriedades
application.properties

# Ignora arquivos de propriedades de perfis específicos (ex: prod)
application-*.properties

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Environment variables and secrets
.env

# Python
__pycache__/
*.py[cod]