server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: 
              - "http://localhost:5173"
              - "http://letterbook:5173"
              - "http://localhost:3000"
              - "http://localhost:9002"
              - "http://192.168.0.110:9002"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: user-service-auth
          uri: http://localhost:${USER_SERVICE_PORT:8085}
          predicates:
            - Path=/api/v1/auth/**
        - id: user-service-users
          uri: http://localhost:${USER_SERVICE_PORT:8085}
          predicates:
            - Path=/api/v1/usuarios/**
        - id: catalogo-service-livros
          uri: http://localhost:${CATALOGO_SERVICE_PORT:8081}
          predicates:
            - Path=/api/v1/livros/**
        - id: catalogo-service-autores
          uri: http://localhost:${CATALOGO_SERVICE_PORT:8081}
          predicates:
            - Path=/api/v1/autores/**
        - id: catalogo-service-editoras
          uri: http://localhost:${CATALOGO_SERVICE_PORT:8081}
          predicates:
            - Path=/api/v1/editoras/**
        - id: catalogo-service-generos
          uri: http://localhost:${CATALOGO_SERVICE_PORT:8081}
          predicates:
            - Path=/api/v1/generos/**
        - id: interaction-service
          uri: http://localhost:${INTERACTION_SERVICE_PORT:8082}
          predicates:
            - Path=/api/v1/avaliacoes/**
        - id: community-service
          uri: http://localhost:${COMMUNITY_SERVICE_PORT:8084}
          predicates:
            - Path=/api/v1/comunidades/**
