server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: 
              - "http://localhost:5173"
              - "http://letterbook:5173"
              - "http://localhost:3000"
              - "http://localhost:9002"
              - "http://192.168.0.110:9002"
              - "https://letter-bookpt.web.app"
              - "https://letter-bookpt.firebaseapp.com"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
      routes:
        - id: user-service-auth
          uri: ${USER_SERVICE_URL:http://localhost:8085}
          predicates:
            - Path=/api/v1/auth/**
        - id: user-service-users
          uri: ${USER_SERVICE_URL:http://localhost:8085}
          predicates:
            - Path=/api/v1/usuarios/**
        - id: catalogo-service-livros
          uri: ${CATALOGO_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/v1/livros/**
        - id: catalogo-service-autores
          uri: ${CATALOGO_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/v1/autores/**
        - id: catalogo-service-editoras
          uri: ${CATALOGO_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/v1/editoras/**
        - id: catalogo-service-generos
          uri: ${CATALOGO_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/v1/generos/**
        - id: interaction-service
          uri: ${INTERACTION_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/v1/avaliacoes/**
        - id: interaction-service-listas
          uri: ${INTERACTION_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/v1/listas/**
        - id: interaction-service-feed
          uri: ${INTERACTION_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/v1/feed/**
        - id: community-service
          uri: ${COMMUNITY_SERVICE_URL:http://localhost:8084}
          predicates:
            - Path=/api/v1/comunidades/**
        - id: user-service-rankings
          uri: ${USER_SERVICE_URL:http://localhost:8085}
          predicates:
            - Path=/api/v1/rankings/**
